<%= simple_form_for @performaone, :html => { :class => 'form-horizontal' } do |f| %>
<table class="table table-bordered">
  <thead>
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><%= f.association :month,label_method: :month_name, value_method: :id, include_blank: false, :selected => 4%>
          <%= f.input :year, collection: 1960..2050,include_blank: false, :selected => 2013 %></td>
        <td></td>
        <td></td>
    </tr>
  <tr>
       <%= f.association :employee,label_method: :emp_full_name, value_method: :id, include_blank: false, :as => :hidden%>
       <td><%= f.association :employee,label_method: :emp_full_name, value_method: :id, include_blank: false, disabled: true, label: 'Employee Name'%></td>
       <%= f.association :employee,label_method: :emp_treasury_id, value_method: :id, include_blank: false, :as => :hidden%>
       <td><%= f.association :employee,label_method: :emp_treasury_id, value_method: :id, include_blank: false, disabled: true, label: 'Employee Treasury ID'%></td>      
       <!--  -->
       <td><%= f.association :designation,label_method: :Designation_English, value_method: :id, include_blank: false, :selected => @performaone.employee.employee_work_details.first.designation_id %></td>
        


  </tr>
  <tr>
      <td><%= f.input :leave_taken , label: 'No. Of Leaves Taken' , input_html: { value: '0' } %></td>   
      <td><%= f.input :patients_opd , label: 'No. Of Patients Checked In OPD' , input_html: { value: '0' } %></td>
      <td><%= f.input :patients_admit, label: 'No. Of Patients Admitted' , input_html: { value: '0' }  %></td>
      
  </tr>
  <tr>
    <td><%= f.input :patients_ref, label: 'No. Of Patents Reffered to Other Hospitals' , input_html: { value: '0' }  %></td>
      <td><%= f.input :emer_calls, label: 'No. Of Emergency Calls Attended' , input_html: { value: '0' }  %></td>
      <td><%= f.input :emer_duty, label: 'No. Of Emergency Duties Performed' , input_html: { value: '0' }  %></td>
      
  </tr>
  <tr>
    <td><%= f.input :mlc_perf, label: 'No. Of MLC Performed'  , input_html: { value: '0' } %></td>
      <td><%= f.input :postmor_perf, label: 'No. Of Postmortem Done' , input_html: { value: '0' }  %></td>
      <td><%= f.input :court_presence, label: 'No. Of Days Present in Court' , input_html: { value: '0' }  %></td>
     
  </tr>
  <tr>
     <td><%= f.input :op_major, label: 'No. Of Major Operations' , input_html: { value: '0' }  %></td>
      <td><%= f.input :op_minor, label: 'No. Of Minor Operations' , input_html: { value: '0' }  %></td>
      <td><%= f.input :op_caesarion, label: 'No. Of Caesarion Operations'  , input_html: { value: '0' } %></td>
      
  </tr>
  <tr>
    <td><%= f.input :lab_tests, label: 'No. Of Lab Tests Conducted' , input_html: { value: '0' }  %></td>
      <td><%= f.input :image_tests, label: 'No. Of Image Scans Conducted' , input_html: { value: '0' }  %></td>
      <td><%= f.input :equip, label: 'Utilisation of Equipment By Self/Instruction' %></td>
      
  </tr>
  <tr>
    <td><%= f.input :equipdetail, label: 'Information on Availaible Equipment' %></td>
      <td><%= f.input :equipdefic, label: 'Equipment - Deficiency/Necessary Action' %></td>
  </tr>
  </tbody>
</table>                                  
  <div class="form-actions">
    <%= f.submit "Submit", :name => nil, :class => "btn-primary" %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                performaones_path, :class => 'btn' %>
  </div>
<% end %>

