<%- model_class = Hospital -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>


<div class="row">
<div class="span4">


<div class="tabbable columns">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a id="n.1" href="#declarations1" data-toggle="tab">Hospital Detals </a></li>
        <li class=""><a id="n.2" href="#hradetails1" data-toggle="tab">Sanctioned Details</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="declarations1">
<table class="table table-bordered table-condensed">
  <tbody>
  	<tr>
        <td>Hospital Name</td>
        <td><%= @hospital.hospital_name %></td>
    </tr>
    <tr>
	  <td>Division Name</td>
	  <td><%= @hospital.division.division_name %></td>
	</tr> 
	<tr>
	  <td>District Name</td>
	  <td><%= @hospital.district.district_name %></td>
	</tr>
	<tr>
	  <td>Block Name</td>
	  <td><%= @hospital.block.block_name %></td>
	</tr>      
	<tr>
	  <td>Hospital Type</td>
	  <td><%= @hospital.hospital_type.hospital_type %></td>
	</tr>  
	<tr>
	  <td>No. Of Beds</td>
	  <td><%= @hospital.beds %></td>
	</tr> 
	<tr>
	  <td>Institution Type</td>
	  <td><%= @hospital.institution_type.Institution_type %></td>
	</tr>
	<tr>
	  <td>Admin Location ? </td>
	  <td><%= @hospital.IsAdministrativeLocation? ? 'Yes' : 'No'  %></td>
	</tr>
	<tr>
	  <td>Tribal Location ? </td>
	  <td><%= @hospital.IsTribal? ? 'Yes' : 'No'  %></td>
	</tr>
	<tr>
	  <td>Latitude </td>
	  <td><%= @hospital.latitude %></td>
	</tr>
	<tr>
	  <td>Longitude </td>
	  <td><%= @hospital.longitude %></td>
	</tr>
	<tr>
	  <td>Phone Number</td>
	  <td><%= @hospital.phone_no %></td>
	</tr>
	<tr>
	  <td>Fax Number</td>
	  <td><%= @hospital.fax_no %></td>
	</tr>
   </tbody>
</table>
        </div>
        <div class="tab-pane fade" id="hradetails1">
<table class="table table-bordered table-condensed">
  <tbody>
  <tr><td>Class - 1 (Sanctioned)</td>
  <td><%= @hospital.vw_sanctioned_working_by_hospitals.first.class_1_sanctioned %></td></tr>
  <tr><td>Class - 1 (Working)</td>
  <td><%= @hospital.vw_sanctioned_working_by_hospitals.first.class_1_working %></td></tr>
  <tr><td>Class - 1 (Vacant)</td>
  <td><%= @hospital.vw_sanctioned_working_by_hospitals.first.class_1_vacant %></td></tr>
  <tr><td>Class - 2 (Sanctioned)</td>
  <td><%= @hospital.vw_sanctioned_working_by_hospitals.first.class_2_sanctioned %></td></tr>
  <tr><td>Class - 2 (Working)</td>
  <td><%= @hospital.vw_sanctioned_working_by_hospitals.first.class_2_working %></td></tr>
  <tr><td>Class - 2 (Vacant)</td>
  <td><%= @hospital.vw_sanctioned_working_by_hospitals.first.class_2_vacant %></td></tr>
  </tbody>
</table>  
        </div>
    </div>
</div>



</div>
<div class="span8">
<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?size=600x300&sensor=false&zoom=16&markers=#{@hospital.latitude}%2C#{@hospital.longitude}",:class => "style_image"  %>
  </div>
</div>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              hospitals_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_hospital_path(@hospital), :class => 'btn' %>
</div>
<script>
  $('.style_image').hide();
</script>
